body {
    background: white;
    margin: 0 auto !important;
    width: 70%;
    height: 100%;
}

nav {
    position: fixed; /*fixed navigation bar*/
    background: white;
    top: 0;
    /*margin-top: -200px;*/
    padding-top: 30px;
    z-index: 99; /*Make sure the navigation is in front of everything*/
}

nav img {
    display: inline;
}

nav ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 40px;
}

.Sorting_Filtering .filter-controls input {
    display: inline-block;
    width: 100px;
}

.Cookies {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
}

#gray-screen {
    background: gray;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#advanced-search-help {
    display: inline-block;
}

#advanced-search-help-popup {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    z-index: 101;
}

#advanced-search-help-popup button {
    float: right;
}

#advanced-search-help-popup, #gray-screen {
    display: none;
}

label {
    font-weight: normal !important;
}

.heading {
    font-weight: bold;
    font-size: 1.3em;
}

#search-results {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}

#search-area {
    vertical-align: bottom;
}

#search-results li a.paper-title {
    font-size: 1.2em;
}

.authors, .published-date {
    color: gray;
    font-size: 0.9em;
}

.published-date {
    float: right;
}

.highlight {
    background: yellow;
}

a.show-more-link {
    font-size: 1em;
    cursor: pointer;
}

#page-navigation {
    text-align: center;
}